body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
}

.hero-header{
  font-size: 1.6rem;
  font-weight: 200;
}

span{
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.hero-text{
  max-width: 545px;
  font-size: 15px;
  padding: 0 85px;
  line-height: 1.6;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  position: relative;
  margin-bottom: 30px;
  border-radius: 7px;
  box-shadow: 0 1px 25px -3px hsl(200, 12%, 60%);
  width: 325px;
  height: 250px;
}

.card h2, .card p{
  margin-left: 25px;
}

.card h2{
  color: hsl(234, 12%, 34%);
  margin-top: 25px;
  margin-bottom: 5px;
}

.card p{
  margin-top: 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 2;
}

.card-icon{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.super{
  border-top: 5px solid hsl(180, 62%, 55%);
}

.team{
  border-top: 5px solid hsl(0, 78%, 62%);
}

.karma{
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator{
  border-top: 5px solid hsl(212, 86%, 64%);
}

.attribution{
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 800px){

  .hero-header{
    font-size: 2.5rem;
    font-weight: 200;
  }


  .hero-text{
    max-width: 545px;
    font-size: 16px;
    padding: 0 35px;

  }

  .card-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card{
    width: 400px;
    height: 265px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .card p{
    font-size: 16px;
  }

}

@media only screen and (min-width: 1285px){

  .super{
    position: relative;
    top: 50%;
    grid-area: super;
  }
  .team{
    grid-area: team;
    margin-bottom: 30px;
  }
  .calculator{
    position: relative;
    top: 50%;
    grid-area: calculator;
  }
  .karma{
    grid-area: karma;
  }

  .card-container{
    display: grid;
    grid-template-areas: "super team calculator"
                          ". karma .";
    margin-bottom: 35px;
  }

}
